<section class="h-screen bg-slate-200 flex justify-center items-center">
  <div class="w-full max-w-md shadow-lg">
    <div class="bg-white rounded-lg px-10">
      <div class="text-center text-3xl font-semibold py-8">Welcome!</div>
      <form role="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="space-y-3.5">
          <input
            type="text"
            placeholder="Email, username or phone"
            class="bg-white border border-slate-400 rounded w-full px-4 py-2 shadow focus:outline-slate-400"
            formControlName="usernameOrEmailOrPhone"
          />
          <input
            type="password"
            placeholder="Password"
            class="bg-white border border-slate-400 rounded w-full px-4 py-2 shadow focus:outline-slate-400"
            formControlName="password"
          />
          <div class="text-center">
            <button
              type="submit"
              class="bg-cyan-700 text-white px-5 py-2 rounded hover:bg-cyan-800"
            >
              Log In
            </button>
          </div>
          <hr />
          <div class="text-center pb-8">
            <button
              class="bg-green-700 text-white px-5 py-2 rounded hover:bg-green-800"
              (click)="goToRegister()"
            >
              Create new account
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
