<table class="table w-full">
  <thead>
    <tr>
      <th class="px-7 py-4">Name</th>
      <th class="px-7 border-x">Date</th>
      <th class="px-7">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; index as i">
      <th class="px-7 py-4" [ngClass]="i % 2 === 0 ? 'bg-gray-200' : ''">
        {{ category.category.name }}
      </th>
      <th class="px-7 border-x" [ngClass]="i % 2 === 0 ? 'bg-gray-200' : ''">
        {{ category.createdAt }}
      </th>
      <th class="px-7" [ngClass]="i % 2 === 0 ? 'bg-gray-200' : ''">
        <div class="flex justify-center space-x-5">
          <app-btn color="alert">Edit</app-btn>
          <app-btn color="danger">Delete</app-btn>
        </div>
      </th>
    </tr>
  </tbody>
</table>
