<aside
  class="fixed top-0 bottom-0 left-0 h-screen w-60 bg-gray-100 text-gray-800 py-6 px-4 overflow-y-auto border-r border-gray-300"
>
  <a routerLink="/" class="text-3xl font-medium flex text-center">
    Expense Manager
  </a>
  <ul class="mt-7">
    <ng-container *ngFor="let item of menuItems; index as itemIndex">
      <li
        [routerLink]="item.route"
        class="side-item"
        [ngClass]="[
          item.space ? 'mb-8' : 'mb-2',
          item.selected ? 'bg-gray-200 text-sky-900' : ''
        ]"
        (click)="setShowSubMenu(itemIndex)"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
      </li>
      <ul *ngIf="item.subMenuItems != undefined && item.showSubMenu">
        <ng-container
          *ngFor="let subItem of item.subMenuItems; index as subItemIndex"
        >
          <li
            [routerLink]="subItem.route"
            class="side-item pl-8 pr-5"
            [ngClass]="[
              subItem.space && !subItem.space ? '-mt-6' : '',
              subItem.space ? 'mb-8' : 'mb-1.5',
              subItem.selected ? 'bg-gray-200 text-sky-900' : ''
            ]"
            (click)="setSubMenuSelected(subItemIndex)"
          >
            <mat-icon>{{ subItem.icon }}</mat-icon>
            <span>{{ subItem.title }}</span>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ul>
</aside>
